    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{pageTitle}} | Wilfred Lopez</title>

    <link rel="stylesheet" href="/css/position.css" class="">
    <link rel="stylesheet" href="/css/styles.css" class="">
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
   