<!DOCTYPE html>
<html lang="en">
<head>
{{> head}}
</head>
<body>
    <div class="content">
        {{> nav}}

<main>
   
<h1>Contact</h1>

<form action="" class="">
    <ul>
        <li><label for="name">Name: </label></li>
        <li><input type="text" class="" name="name"></li>
        <li><label for="email">Email Address: </label></li>
        <li><input type="email" class="" name="email"></li>
       <li> <label for="message">Message:</label></li>
       <li><textarea name="message"></textarea></li>
        <li><button class="" name="submit" id="submit">Submit</button></li>
    </ul>
</form>

    <!-- INSERTING A PARTIAL FROM HBS TEMPLATE -->
</main>
{{> footer}}

</div> <!-- end Content -->
</body>
</html>