<!DOCTYPE html>
<html lang="en">
<head>
{{> head}}
</head>
<body>
    <div class="content">
        {{> nav}}

<main>
   
<div class="hero">
    <div class="heroleft">
    <h1>Welcome! </h1><span>This is Wilfred</span>
    <p>Born in Cabrera, Dominican Republic. Loves Music, Basketball, TV Shows and Learning anything related to computers and web production.</p>
    </div>
    <div class="heroright">
        <img src="/img/hero/hero.jpg" alt="" class="" style="width:320px">
    </div>


</div><!-- END HERO -->



    <!-- INSERTING A PARTIAL FROM HBS TEMPLATE -->
</main>
{{> footer}}

</div> <!-- end Content -->
</body>
</html>