<!DOCTYPE html>
<html lang="en">
<head>
{{> head}}
</head>
<body>
    <div class="content">
        {{> nav}}

<main>
    <h1>{{pageTitle}}</h1>    


    <!-- INSERTING A PARTIAL FROM HBS TEMPLATE -->
</main>
{{> footer}}

</div> <!-- end Content -->
</body>
</html>