
*::before, *::after{
    box-sizing: border-box;
}

body{
    width: 100%;
    margin: 0;
}

.content{

 
}

main{
    padding: 0 25px;
}
footer{
    text-align: center;
    display: block;
    height: 10px;  
    padding-top: 5%;
    padding-bottom: 5%;
    position: relative;
    width: 99.5%;
    max-width: 99.5%;
    overflow: hidden;
    margin-bottom: 5px;
}
.logo{
    height: 50px;
    float: left;
    padding: 5px;
}
nav{
    height: 50px;
    justify-content: center;
    padding: 10px 0 10px 0;
    text-align: center;
}
nav ul a li{
    list-style: none;
    display: inline;
  
   padding: 0.5em 1em;
}


.hero{
    display: flex;
    flex-wrap: wrap;
    margin: 0 5%;
}

.heroleft,.heroright{
flex: 1;
align-self: flex-start;

}
.heroright{
    text-align: center; 
}

.heroright img{
    box-sizing: border-box;
    padding: 20px 0;
    max-width: 290px;
}

form ul{
    list-style: none;
    padding: 25px 0;
}

form ul li{
    padding: 5px 0;
}